{% extends "base.html" %}

{% block content %}
    <h1>Active Employee List</h1>
    <ul>
        {% for employee in active_employees %}
            <li><a href="{% url 'accounts:profile_employee' employee.id %}">{{ employee.full_name }} </a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'accounts:create_employee' %}">Create Employee</a>

    <h1>Inactive Employee List</h1>
    <ul>
        {% for employee in inactive_employees %}
            <li><a href="{% url 'accounts:profile_employee' employee.id %}">{{ employee.full_name }} </a></li>
        {% endfor %}
    </ul>   
    
{% endblock %}
